<template>
  <div>
    <Breadcrumbs :items="breadcrumbs"></Breadcrumbs>
    <AppHeader :is-loading="isLoadingMatrix && isFirstLoading">
      {{ pageTitle }}
    </AppHeader>
    <AppLabel
      :class="'mb-'+ (matrix.status.id !== $options.MATRIX_STATUS_AGREED ? 1 : 3)"
      :is-loading="isLoadingMatrix && isFirstLoading"
      :variant="matrix.status.id === $options.MATRIX_STATUS_REQUIRE_AGREE ? 'info' : ''"
    >
      {{ matrix.status.name }}
    </AppLabel>
    <p
      v-if="matrix.status.id !== $options.MATRIX_STATUS_AGREED"
      class="page-subheader mb-3 mt-0"
    >
      Необходимо обработать до
      <strong>{{ endDate }}</strong>
    </p>
    <div class="d-flex mb-2">
      <div class="fixed-left-column">
        <MatrixGuideLink />
      </div>
      <div class="d-flex align-items-center">
        <base-button
          v-if="isVisibleDownloadExcelButton"
          size="x-small"
          color="secondary"
          class="button-download-excel mr-2"
          :loading-text="'Подготовка ' + taskProcess + ' %'"
          :loading="isLoadingDownload"
          @click="downloadExcel"
        >
          <template #icon>
            <svg-icon
              icon="download"
              size="14"
            />
          </template>
          Скачать в Excel
        </base-button>
        <FileUpload
          v-if="isVisibleUploadExcelButton"
          :loading="isLoadingUpload"
          :loading-text="'Обработка ' + taskProcess + ' %'"
          @change="uploadExcel"
        />
      </div>
    </div>
    <hr class="line mb-3">
    <div class="d-flex">
      <div class="fixed-left-column">
        <div class="matrix-status-block">
          <h3 class="matrix-status-block-header">
            Заполнено
          </h3>
          <MatrixProgressBar :accepted="acceptedRowsCount" :rejected="rejectedRowsCount" :total="totalRowsCount" />
          <div class="matrix-accepted">
            <span class="matrix-count">
              {{ acceptedRowsCount }}
            </span>
            <span>Согласовано</span>
          </div>
          <div class="matrix-rejected">
            <span class="matrix-count">
              {{ rejectedRowsCount }}
            </span>
            <span>Отклонено</span>
          </div>
          <AppButton
            v-if="isVisibleSendToAgree"
            variant="filled"
            size="small"
            color="secondary"
            :class="[{'app-success': !isDisabledSendToAgreeButton}, 'matrix-btn-send-agree'] "
            loading-text="Отправка..."
            :loading="isLoadingSendToAgree"
            :disabled="isDisabledSendToAgreeButton"
            @click="sendToAgree"
          >
            Отправить
          </AppButton>
        </div>
      </div>
      <div>
        <AppTable
          class="mb-3"
          :items="matrixCoordinationRows"
          :headers="tableHeaders"
          :total-pages="matrixCoordinationRowsPages"
          :loading="loading"
          :is-watch-items-deep="true"
        >
          <template #row="{item, index}">
            <tr>
              <td>{{ item.nomenclatureName }}</td>
              <td>{{ item.manufacturerName }}</td>
              <td>{{ item.vendorCode }}</td>
              <td>{{ item.matrix }}</td>
              <td>
                <span v-if="item.status" :class="['text-bolder', getStatusClass(item.status.id)]">
                  {{ item.status ? item.status.name : '-' }}
                </span>
                <span v-else>
                  -
                </span>
              </td>
              <td>
                {{ item.quantity }}
              </td>
              <td>
                <AppTableLoader v-if="item.loadingQuantity" />
                <form
                  v-else
                  @submit.prevent="updateRow(item.id, 'supplierQuantity')"
                >
                  <AppInput
                    :value="(item.supplierQuantity || item.supplierQuantity === 0) ? '' + item.supplierQuantity : ''"
                    :error="item.errorQuantity"
                    :is-show-detail="false"
                    :disabled="isDisabledSupplierQuantityField"
                    size="small"
                    mask="#######"
                    class="-short"
                    @input="updateItem(item.id, 'supplierQuantity', $event.target.value)"
                    @change="updateRow(item.id, 'supplierQuantity')"
                  />
                </form>
              </td>
              <td>
                <AppTableLoader v-if="item.loadingComment" />
                <form
                  v-else
                  @submit.prevent="updateRow(item.id, 'supplierComment')"
                >
                  <AppInput
                    :value="item.supplierComment"
                    :is-show-detail="false"
                    :error="item.errorComment"
                    :disabled="isDisabledSupplierCommentField"
                    placeholder="Введите комментарий"
                    size="small"
                    @input="updateItem(item.id, 'supplierComment', $event.target.value)"
                    @change="updateRow(item.id, 'supplierComment')"
                  />
                </form>
              </td>
            </tr>
          </template>
        </AppTable>
      </div>
    </div>
    <modal
      v-if="modal.isOpened"
      :title="modal.title"
      :type="modal.type"
      @close="modal.isOpened = false"
    >
      <div v-html="modal.description"></div>
    </modal>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import MatrixGuideLink from "@/components/buttons/MatrixGuideLink";
import FileUpload from "@/components/buttons/FileUpload";
import MatrixProgressBar from "@/components/matrix/MatrixProgressBar";
import AppInput from "@/components/ui/AppInput";
import AppTableLoader from "@/components/ui/AppTableLoader";
import getQuery from "@/mixins/getQuery";

import {
  MATRIX_STATUS_REQUIRE_AGREE,
  MATRIX_STATUS_AGREED,
  STATUS_COORDINATE_SUCCESS,
  STATUS_CANCEL,
  STATUS_ON_SUPPLIER_COORDINATION,
  TASK_STATUS_FINISHED,
  TASK_STATUS_CANCELLED,
  TASK_STATUS_INTERRUPTED,
} from "@/constants";

export default {
  name: "MatrixId",

  components: {
    MatrixGuideLink,
    FileUpload,
    MatrixProgressBar,
    AppInput,
    AppTableLoader
  },

  head() {
    return {
      title: this.pageTitle,
    }
  },

  meta: {
    permissions: ["frontend\\controllers\\MatrixCoordinationsController.View"]
  },

  data() {
    return {
      matrix: {
        status: {
          id: null,
          name: ''
        },
        month: '',
        region: {
          name: ''
        },
        rowsStatusesCounts: [],
        endDate: null
      },
      taskProcess: 0,
      loading: false,
      isLoadingSendToAgree: false,
      isLoadingMatrix: false,
      isLoadingUpload: false,
      isLoadingDownload: false,
      isFirstLoading: true,
      modal: {
        isOpened: false,
        title: '',
        type: '',
        description: ''
      },
      matrixCoordinationRowsPages: 0,
      matrixCoordinationRows: [],
      tableHeaders: [
        {
          name: 'Название',
          field: 'nomenclatureName',
          filter: {label: 'Введите название', name: 'SearchFilter', value: ''},
          sort: ''
        },
        {
          name: 'Бренд',
          field: 'manufacturerName',
          filter: {label: 'Введите бренд', name: 'SearchFilter', value: ''},
          sort: ''
        },
        {
          name: 'Артикул',
          field: 'vendorCode',
          filter: {label: 'Введите артикул', name: 'SearchFilter', value: ''},
          sort: ''
        },
        {
          name: 'Матрица', field: 'matrix', filter: {
            label: 'Выберите тип матрицы',
            name: 'SelectFilter', value: '', dataProvider: {
              url: '/graphql',
              method: 'POST',
              data: {query: this.$json2graphql.jsonToGraphQLQuery(this.$options.matricesQuery)},
              model: 'matrices',
            }
          }, sort: '',
        },
        {
          name: 'Статус', field: 'statusId', filter: {
            label: 'Выберите статус',
            name: 'SelectFilter', value: '', dataProvider: {
              url: '/graphql',
              method: 'POST',
              data: {query: this.$json2graphql.jsonToGraphQLQuery(this.$options.matrixCoordinationRowStatusesQuery)},
              model: 'matrixCoordinationRowStatuses',
            }
          }, sort: ''
        },
        {
          name: 'Потребность',
          field: 'quantity',
          filter: {label: 'Введите потребность', name: 'SearchFilter', value: ''},
          sort: ''
        },
        {
          name: 'Ответ поставщика',
          field: 'supplierQuantity',
          filter: {label: 'Введите ответ поставщика', name: 'SearchFilter', value: ''},
          sort: '',
          width: '16%'
        },
        {
          name: 'Комментарий',
          field: 'supplierComment',
          filter: {label: 'Введите комментарий', name: 'SearchFilter', value: ''},
          width: '20%'
        },
      ]
    }
  },

  MATRIX_STATUS_REQUIRE_AGREE: MATRIX_STATUS_REQUIRE_AGREE,
  MATRIX_STATUS_AGREED: MATRIX_STATUS_AGREED,
  tableRowsLimit: 20,
  taskProcessInterval: null,

  matrixQuery: {
    query: {
      matrixCoordination: {
        __args: {
          id: null
        },
        id: true,
        createdAt: true,
        status: {
          id: true,
          name: true
        },
        region: {
          name: true
        },
        month: true,
        rowsStatusesCounts: {
          statusId: true,
          count: true
        },
        endDate: true
      }
    }
  },

  matrixCoordinationQuery: {
    query: {
      matrixCoordinationRows: {
        __args: {
          coordinationId: null
        },
        id: true,
        status: {
          name: true,
          id: true
        },
        nomenclatureName: true,
        manufacturerName: true,
        vendorCode: true,
        matrix: true,
        quantity: true,
        supplierQuantity: true,
        supplierComment: true
      },
      matrixCoordinationRowsConnection: {
        __args: {
          coordinationId: null
        },
        totalCount: true
      }
    }
  },

  matricesQuery: {
    query: {
      matrices: {
        value: {__aliasFor: 'id'},
        text: {__aliasFor: 'name'}
      }
    }
  },

  matrixCoordinationRowStatusesQuery: {
    query: {
      matrixCoordinationRowStatuses: {
        value: {__aliasFor: 'id'},
        text: {__aliasFor: 'name'}
      }
    }
  },

  computed: {
    ...mapGetters('user', {hasPermission: 'hasOnePermission'}),

    breadcrumbs() {
      return [
        {
          url: '/matrix-coordinations',
          name: 'Согласования матриц'
        },
        {
          url: '',
          name: this.pageTitle
        }
      ]
    },

    pageTitle() {
      return `Матрица ${this.matrix?.region.name} на ${this.$dayjs().month(this.matrix?.month - 1).format('MMMM')}`
    },

    rejectedRowsCount() {
      const item = this.matrix?.rowsStatusesCounts.find((item) => {
        return item.statusId === STATUS_CANCEL
      })

      return (item && item.count) ? item.count : 0
    },

    acceptedRowsCount() {
      const item = this.matrix?.rowsStatusesCounts.find((item) => {
        return item.statusId === STATUS_COORDINATE_SUCCESS
      })

      return (item && item.count) ? item.count : 0
    },

    notProcessedRowsCount() {
      return this.totalRowsCount - this.acceptedRowsCount - this.rejectedRowsCount
    },

    totalRowsCount() {
      return this.matrix?.rowsStatusesCounts.reduce((akk, item) => {
        return akk + item.count
      }, 0)
    },

    endDate() {
      const threeDaysBeforeEndMonthDate = (this.$dayjs().daysInMonth() - 3) + ' ' + this.$dayjs().format('MMMM YYYY')
      return this.matrix.endDate ? this.$dayjs(this.matrix.endDate).format('DD MMMM YYYY') : threeDaysBeforeEndMonthDate
    },

    isProcessedMatrixStatus() {
      return this.matrix.status.id === MATRIX_STATUS_AGREED
    },

    isDisabledSendToAgreeButton() {
      return (this.notProcessedRowsCount > 0) || this.isProcessedMatrixStatus
    },

    isDisabledSupplierQuantityField() {
      return this.isLoadingSendToAgree ||
        this.isLoadingDownload ||
        this.isLoadingUpload ||
        this.isProcessedMatrixStatus ||
        !this.hasPermission(['frontend\\controllers\\MatrixCoordinationsController.Update']) ||
        this.isMatrixExpired
    },

    isDisabledSupplierCommentField() {
      return this.isDisabledSupplierQuantityField || this.isMatrixExpired
    },

    isVisibleDownloadExcelButton() {
      return this.matrixCoordinationRows.length && this.hasPermission(['frontend\\controllers\\MatrixCoordinationsController.DownloadToExcel'])
    },

    isVisibleUploadExcelButton() {
      return this.matrixCoordinationRows.length &&
        !this.isProcessedMatrixStatus &&
        this.hasPermission(['frontend\\controllers\\MatrixCoordinationsController.UploadFromExcel']) &&
        !this.isMatrixExpired
    },

    isVisibleSendToAgree() {
      return this.totalRowsCount > 0 &&
        this.hasPermission(['frontend\\controllers\\MatrixCoordinationsController.SendToCoordination']) &&
        this.matrix.status.id !== MATRIX_STATUS_AGREED &&
        !this.isMatrixExpired
    },

    isMatrixExpired() {
      return (this.matrix.status.id === this.$options.MATRIX_STATUS_REQUIRE_AGREE) && this.isExpiredDate
    },

    isExpiredDate() {
      return this.$dayjs().isAfter(this.$dayjs(this.matrix.endDate))
    }
  },

  watch: {
    '$route.query': '$fetch'
  },

  async mounted() {
    await this.getMatrix()
  },

  methods: {
    getQuery,

    getStatusClass(id) {
      if (id === STATUS_ON_SUPPLIER_COORDINATION) {
        return 'text-muted'
      }

      if (id === STATUS_CANCEL) {
        return 'text-error'
      }

      if (id === STATUS_COORDINATE_SUCCESS) {
        return 'text-success'
      }
    },

    updateItem(id, type, value) {
      const index = this.matrixCoordinationRows.findIndex((row) => row.id === id)
      const field = (type === 'supplierComment' ? 'supplierComment' : 'supplierQuantity')
      this.matrixCoordinationRows[index][field] = (type === 'supplierQuantity' && value === '') ? null : value
    },

    clearErrors() {
      this.matrixCoordinationRows.forEach((item) => {
        item.errorQuantity = ''
        item.errorComment = ''
      })
    },

    async downloadExcel() {
      if (this.isLoadingUpload) return

      this.isLoadingDownload = true

      const form = new FormData();
      form.append("coordinationId", this.$route.params.id);

      try {
        const {taskId} = await this.$axios.$post('/matrix-coordinations/start-export', form);
        this.$options.taskProcessInterval = setInterval(async () => {
          try {
            const result = await this.getTaskStatus(taskId, 'download')

            if (result === 'process') {
              return
            }

            this.modal.title = 'Выгрузка завершена';
            this.modal.description = `Файл можно скачать по <a download href="${this.$config.pasUrl + '/file/download?id=' + result.fileId}">ссылке</a>`;
            this.modal.type = 'success';
            this.modal.isOpened = true;
          } catch (err) {
            this.modal.title = 'Ошибка выгрузки';
            this.modal.description = err.message;
            this.modal.type = 'error';
            this.modal.isOpened = true;
          }
        }, 2000)
      } catch (err) {
        this.isLoadingDownload = false
        this.$notify({
          type: 'error',
          title: 'Не удалось начать выгрузку файла'
        })
      }
    },

    async uploadExcel(file) {
      if (this.isLoadingDownload) return

      this.isLoadingUpload = true

      const form = new FormData()
      form.append('coordinationId', this.$route.params.id)
      form.append('uploadedFile', file, file.fileName)

      try {
        const {taskId} = await this.$axios.$post('/matrix-coordinations/start-import', form)
        this.$options.taskProcessInterval = setInterval(async () => {
          try {
            const result = await this.getTaskStatus(taskId, 'upload')

            if (result === 'process') {
              return
            }

            this.$fetch()

            this.$notify({
              type: 'success',
              title: 'Файл успешно загружен',
              text: 'Синхронизация проведена успешно. ' + result
            })
          } catch (err) {
            this.modal.title = 'Ошибка синхронизации';
            this.modal.description = err.message + '<br>' + err.detail;
            this.modal.type = 'error';
            this.modal.isOpened = true;
          }
        }, 2000)
      } catch (err) {
        this.modal.title = 'Ошибка синхронизации';
        this.modal.description = `Возникли проблемы при синхронизации файла`;
        this.modal.type = 'error';
        this.modal.isOpened = true;
      }
    },

    async getTaskStatus(taskId, operationType) {
      const consoleTaskQuery = {
        query: {
          consoleTask: {
            __args: {
              id: taskId
            },
            id: true,
            completePercent: true,
            statusId: true,
            resultData: true,
            resultText: true
          }
        }
      }
      const loading = operationType === 'download' ? 'isLoadingDownload' : 'isLoadingUpload'

      const query = this.$json2graphql.jsonToGraphQLQuery(consoleTaskQuery)

      try {
        const response = await this.$axios.$post('/graphql', {query});
        const {consoleTask} = response.data
        const isFinished = consoleTask.statusId === TASK_STATUS_FINISHED
        const isCanceled = consoleTask.statusId === TASK_STATUS_CANCELLED
        const isInterRupted = consoleTask.statusId === TASK_STATUS_INTERRUPTED

        if (consoleTask.completePercent < 100 && !isFinished && !isCanceled && !isInterRupted) {
          this.taskProcess = consoleTask.completePercent
          return Promise.resolve('process')
        }

        clearInterval(this.$options.taskProcessInterval)
        this[loading] = false
        this.taskProcess = 0

        if (isFinished) {
          return Promise.resolve(consoleTask.resultText)
        } else if (isCanceled || isInterRupted) {
          let reason = 'остановлен'
          let detail = '';
          if (isCanceled) {
            reason = 'отменен'
          }

          if (isInterRupted) {
            reason = 'прерван'
            detail = consoleTask.resultText
          }
          return Promise.reject({message: 'Процесс был ' + reason + '.', detail})
        } else {
          return Promise.reject({message: 'Процесс остановлен по непонятным причинам'})
        }
      } catch (err) {
        this[loading] = false
        return Promise.reject({message: 'Не удалось получить статус процесса'})
      }
    },

    async updateRow(id, type) {
      this.clearErrors()

      const index = this.matrixCoordinationRows.findIndex((row) => row.id === id)
      const filedKey = (type === 'supplierComment' ? 'comment' : 'quantity')
      let fieldValue

      if (type === 'supplierQuantity') {
        if (!this.matrixCoordinationRows[index][type]) {
          fieldValue = null
        } else if (!isNaN(this.matrixCoordinationRows[index][type])) {
          fieldValue = this.matrixCoordinationRows[index][type] * 1
        }
      } else {
        fieldValue = this.matrixCoordinationRows[index][type]
      }

      this.matrixCoordinationRows[index][type === 'supplierComment' ? 'loadingComment' : 'loadingQuantity'] = true

      const mutation = {
        mutation: {
          matrixCoordinationRow: {
            __args: {
              id: id
            },
            update: {
              __args: {
                [filedKey]: fieldValue
              },
              id: true,
              status: {
                id: true,
                name: true
              }
            }
          }
        }
      }

      const query = this.$json2graphql.jsonToGraphQLQuery(mutation)

      try {
        const response = await this.$axios.$post('/graphql', {query});
        const {matrixCoordinationRow} = response.data
        const index = this.matrixCoordinationRows.findIndex((item) => matrixCoordinationRow.update.id === item.id)
        this.matrixCoordinationRows[index].status = matrixCoordinationRow.update.status
        await this.getMatrix()
      } catch (err) {
        const index = this.matrixCoordinationRows.findIndex((item) => item.id === id)
        this.matrixCoordinationRows[index][(type === 'supplierComment' ? 'errorComment' : 'errorQuantity')] = 'Ошибка';
        this.modal.title = 'Сервер не отвечает';
        this.modal.description = 'Данные не могут быть сохранены. Пожалуйста попробуйте позже';
        this.modal.type = 'error';
        this.modal.isOpened = true;
      } finally {
        setTimeout(() => {
          this.matrixCoordinationRows[index][type === 'supplierComment' ? 'loadingComment' : 'loadingQuantity'] = false
        }, 300)
      }
    },

    async getMatrix() {
      this.isLoadingMatrix = true

      this.$options.matrixQuery.query.matrixCoordination.__args.id = parseInt(this.$route.params.id)
      const query = this.$json2graphql.jsonToGraphQLQuery(this.$options.matrixQuery)

      try {
        const response = await this.$axios.$post('/graphql', {query});
        this.matrix = response.data.matrixCoordination;
        this.isFirstLoading = false
      } catch (err) {
        this.$notify({
          type: 'error',
          title: 'Не удалось получить данные о матрице'
        })
      } finally {
        setTimeout(() => {
          this.isLoadingMatrix = true
        }, 200)
      }
    },

    async sendToAgree() {
      if (this.isLoadingSendToAgree || this.isLoadingDownload || this.isLoadingUpload) return

      this.isLoadingSendToAgree = true

      const mutation = {
        mutation: {
          matrixCoordination: {
            __args: {
              id: parseInt(this.$route.params.id)
            },
            sendToCoordination: {
              __args: {
                confirm: true
              }
            }
          }
        }
      }

      const query = this.$json2graphql.jsonToGraphQLQuery(mutation)

      try {
        await this.$axios.$post('/graphql', {query});
        this.$notify({
          type: 'success',
          title: 'Матрица отправлена на согласование'
        })
        this.$router.push('/matrix-coordinations')
      } catch (err) {
        this.$notify({
          type: 'error',
          title: 'Не удалось отправить матрицу на согласование'
        })
      } finally {
        this.isLoadingSendToAgree = false
      }
    }
  },

  async fetch() {
    if (this.loading) {
      return
    }

    this.$options.matrixCoordinationQuery.query.matrixCoordinationRows.__args.coordinationId = parseInt(this.$route.params.id)
    this.$options.matrixCoordinationQuery.query.matrixCoordinationRowsConnection.__args.coordinationId = parseInt(this.$route.params.id)

    const extendedQuery = this.getQuery(this.$options.matrixCoordinationQuery, 'matrixCoordinationRows', this.$options.tableRowsLimit)
    const query = this.$json2graphql.jsonToGraphQLQuery(extendedQuery)

    this.loading = true;
    try {
      const response = await this.$axios.$post('/graphql', {query});
      this.matrixCoordinationRows = response.data.matrixCoordinationRows;
      this.matrixCoordinationRows.forEach((item, index) => {
        this.$set(this.matrixCoordinationRows[index], 'loadingComment', false)
        this.$set(this.matrixCoordinationRows[index], 'loadingQuantity', false)
        this.$set(this.matrixCoordinationRows[index], 'errorQuantity', '')
        this.$set(this.matrixCoordinationRows[index], 'errorComment', '')
      })
      this.matrixCoordinationRowsPages = Math.ceil(response.data.matrixCoordinationRowsConnection.totalCount / this.$options.tableRowsLimit)
    } catch (err) {
      this.$notify({
        type: 'error',
        title: 'Не удалось получить данные о позициях матрицы'
      })
    } finally {
      setTimeout(() => {
        this.loading = false;
      }, 500)
    }
  }
}
</script>

<style lang="scss" scoped>
.fixed-left-column {
  flex: 0 0 288px;
  margin-right: $spacer*3;
}

.matrix-status-block {
  width: 288px;
  position: sticky;
  top: 112px;
  padding: $spacer*3;
  background: #FFFFFF;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;

  &-header {
    margin-top: 0;
    margin-bottom: $spacer*1.5;
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.matrix-progress-bar {
  margin-bottom: $spacer*1.5;
}

.matrix-accepted,
.matrix-rejected {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  line-height: 1.6rem;

  &:before {
    content: '';
    display: block;
    width: $spacer;
    height: $spacer;
    border-radius: 50%;
    margin-right: $spacer;
  }
}

.matrix-accepted {
  margin-bottom: $spacer;

  &:before {
    background-color: $green;
  }
}

.matrix-rejected {
  margin-bottom: $spacer*4;

  &:before {
    background-color: $pink;
  }
}

.matrix-count {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  color: $gray-7;
  margin-right: $spacer;
}

.matrix-btn-send-agree {
  width: 100%;
}

.button-download-excel {
  min-width: 140px;
}
</style>
