<template>
  <header class="app-header">
    <a
      href="/"
      class="app-logo"
    >
      <img
        class="app-logo-img"
        src="/nuxt/logo.svg"
        width="44"
        height="44"
        alt="Логотип"
      >
      <div class="app-site-name">
        Личный кабинет
        <div class="user-name">
          {{ user('user.supplier.name') }}
        </div>
      </div>
    </a>

    <AppMenu
      :menu="menuItems"
    />
    <AppToolbar
      :user="user('user')"
    />
  </header>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
import AppMenu from "@/components/layout/AppMenu";
import AppToolbar from "@/components/layout/AppToolbar";

export default {
  name: "AppHeader",

  components: {
    AppToolbar,
    AppMenu
  },

  data() {
    return {
      menu: [],
    }
  },

  computed: {
    ...mapGetters('user', {
      user: 'get'
    }),

    menuItems() {
      return this.menu.filter((item) => {
        return item.url || item.name
      })
    }
  },

  methods: {
    ...mapActions('user', ['setUser'])
  },

  async fetch() {
    try {
      this.menu = await this.$axios.$get('/site/menu');
    } catch (err) {
      throw new Error(err)
    }
  }
}
</script>

<style lang="scss" scoped>
.app-header {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: $spacer*2.5 $spacer*4;
  background-color: #FFF;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
}

.app-logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  &-img {
    display: block;
    margin-right: $spacer*1.5;
  }
}

.app-site-name {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray;
  margin-right: $spacer*5;
}

.app-toolbar {
  margin-left: auto;
}

.user-name {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 400;
}
</style>
