<template>
  <ul class="pagination">
    <li
      v-if="current !== 1 && total > 5"
      class="pagination-item"
    >
      <nuxt-link
        :to="prevPageLink"
        class="button-link"
      >
        <svg-icon
          icon="arrow-up"
          class="icon -prev"
          width="18"
          height="11"
        />
      </nuxt-link>
    </li>
    <li
      v-for="(page, index) in pages"
      :key="index"
      :class="['pagination-item', {'-current': page.value === current}]"
    >
      <nuxt-link
        v-if="page.link"
        :to="page.link"
        class="page-link"
      >
        {{ page.value }}
      </nuxt-link>
      <span v-else>
        {{ page.value }}
      </span>
    </li>
    <li
      v-if="current !== total && total > 5 && current <= total"
      class="pagination-item"
    >
      <nuxt-link
        :to="nextPageLink"
        class="button-link"
      >
        <svg-icon
          icon="arrow-up"
          class="icon -next"
          width="18"
          height="11"
        />
      </nuxt-link>
    </li>
  </ul>
</template>

<script>
export default {
  name: "AppPagination",

  props: {
    total: {
      type: [String, Number],
      default: 1
    },

    current: {
      type: Number,
      default: 1
    },

    perPage: {
      type: [String, Number],
      default: 1
    }
  },

  separator: '...',

  computed: {
    nextPageLink() {
      return this.getLink(this.current + 1)
    },

    prevPageLink() {
      return this.getLink(this.current - 1)
    },

    isNeedFirstSeparator() {
      let minPage = 5

      if (this.total === 6 || this.total === 7) {
        minPage = 4
      }

      return this.current >= minPage && this.total > 5
    },

    isNeedLastSeparator() {
      let minPage = 4

      if (this.total === 6) {
        minPage = 3
      }

      return this.total > 5 && (this.total - this.current) >= minPage
    },

    pages() {
      const pages = []

      if (this.total <= 1) {
        return []
      }

      const firstPage = this.generatePageOptions(this.getLink(1), 1);
      const firstSeparator = this.generateSeparator(this.isNeedFirstSeparator);
      const middlePages = this.generateMiddlePages();
      const lastSeparator = this.generateSeparator(this.isNeedLastSeparator);
      const lastPage = this.generatePageOptions(this.getLink(this.total), this.total)

      pages.push(firstPage, firstSeparator, ...middlePages, lastSeparator, lastPage)

      return pages.filter((item) => { // Удаляем резделители, если они пусты
        return !!item.value
      })
    }
  },

  methods: {
    getLink(pageNumber) {
      return this.$route.path + '?' + this.$qs.stringify({...this.$route.query, pageNumber})
    },

    generatePageOptions(link, value) {
      const obj = {}

      if (value !== this.current) {
        obj.link = link
      }

      obj.value = value
      return obj
    },

    generateSeparator(isNeedSeparator) {
      return {
        value: isNeedSeparator ? this.$options.separator : ''
      }
    },

    generateMiddlePages() {
      const pages = []
      let start, end

      if (this.total <= 2) {
        return []
      }

      if (this.total <= 5) {
        start = 2
        end = this.total
      } else if (this.total === 6 || this.total === 7) {
        if (this.current <= 3) {
          start = 2
          end = 5
        } else {
          start = this.total - 3
          end = this.total
        }
      } else if (this.total === 8) {
        if (this.current <= 4) {
          start = 2
          end = 5
        } else {
          start = 5
          end = this.total
        }
      } else {
        if (this.current <= 4) {
          start = 2
          end = 5
        } else if ((this.total - this.current) <= 3) {
          start = this.total - 3
          end = this.total
        } else {
          start = this.current - 1
          end = this.current + 2
        }
      }

      for (let i = start; i < end; i++) {
        pages.push(this.generatePageOptions(this.getLink(i), i))
      }

      return pages
    }
  }
}
</script>

<style lang="scss" scoped>
.pagination {
  display: flex;
  align-items: center;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $spacer*4;
  height: $spacer*4;
  font-size: 1.4rem;
  border-radius: 50%;

  &.-current {
    background-color: $gray-9;
    color: #FFF;
  }
}

.button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  width: $spacer*4;
  height: $spacer*4;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 38px;
  color: $gray-10;
  transition: background-color 0.5s;

  &:hover {
    background-color: $gray-8;

    .icon {
      color: $gray;
    }
  }
}

.icon {
  &.-prev {
    transform: rotate(-90deg);
  }

  &.-next {
    transform: rotate(90deg);
  }
}

.page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $spacer*4;
  height: $spacer*4;
  border-radius: 50%;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: $gray;
  text-decoration: none;

  &:hover {
    color: lighten($gray, 20%);
  }
}

</style>
