<template>
  <div>
    <p
      v-if="!loading && !innerItems.length && !hasFilters"
      class="no-result-text"
    >
      У вас нет матриц для просмотра
    </p>
    <table
      v-else
      :class="['app-table', {'-margin-bottom': isNeedMargin}]"
    >
      <thead>
        <tr>
          <template
            v-if="$slots.header"
          >
            <slot name="header"></slot>
          </template>
          <template v-else>
            <th
              v-for="(item, index) in innerHeaders"
              :key="index"
              :style="{width: item.width ? item.width : 'auto'}"
            >
              <div class="th-wrap">
                <span
                  class="th-name"
                >
                  {{ item.name }}
                </span>
                <span
                  class="sort-icon-wrap"
                  @click="sort(item.field, item.sort)"
                >
                  <svg-icon
                    v-if="'sort' in item"
                    icon="stick-arrow-down"
                    width="16px"
                    height="16px"
                    :class="['sort-icon', getSortDirectionIconClass(item.sort), {'-active': isActiveSortIcon(item.sort)}]"
                  />
                </span>
                <div v-if="item.filter" class="filter-icon">
                  <component
                    :is="item.filter.name"
                    v-if="item.filter.name"
                    :value="item.filter.value"
                    :items="item.filter.items"
                    :label="item.filter.label"
                    :is-active="isActiveFilter(item.filter.value)"
                    :data-provider="item.filter.dataProvider"
                    @applyFilter="filter($event, item.field)"
                  />
                </div>
              </div>
            </th>
          </template>
        </tr>
      </thead>
      <tbody>
        <template v-if="innerItems.length">
          <template v-if="$scopedSlots.row">
            <template v-if="loading">
              <tr
                v-for="i in innerItems.length"
                :key="i"
              >
                <td
                  v-for="k in innerHeaders.length"
                  :key="k"
                >
                  <AppTableLoader />
                </td>
              </tr>
            </template>
            <template v-else>
              <slot
                v-for="(item, index) in innerItems"
                name="row"
                :item="item"
                :index="index"
                :className="isClickableRow ? '-clickable' : ''"
              />
            </template>
          </template>
          <template v-else>
            <tr
              v-for="(item, index) in innerItems"
              :key="index"
              :class="{'-clickable': isClickableRow}"
            >
              <td
                v-for="(value, key, i) in item"
                :key="i"
              >
                <template v-if="headers[i]">
                  <template v-if="loading">
                    <AppTableLoader />
                  </template>
                  <template v-else>
                    {{ item[headers[i].field] }} <br>
                  </template>
                </template>
              </td>
            </tr>
          </template>
        </template>
        <template v-else-if="!loading && !innerItems.length">
          <tr>
            <td :colspan="innerHeaders.length">
              <slot name="noResult">
                <div class="no-result-text">
                  По выставленным фильтрам строк не найдено
                </div>
                <base-button
                  tag-name="nuxt-link"
                  color="secondary"
                  variant="outlined"
                  size="x-small"
                  class="button-clear-filter"
                  :to="$route.path"
                >
                  Сбросить фильтры
                </base-button>
              </slot>
            </td>
          </tr>
        </template>
      </tbody>
    </table>
    <AppPagination
      v-if="hasPagination"
      :current="currentPage"
      :total="totalPages"
      class="pagination"
    />
  </div>
</template>

<script>
import AppPagination from "@/components/ui/AppPagination";
import DateRange from "@/components/filters/DateRange";
import SearchFilter from "@/components/filters/SearchFilter";
import SelectFilter from "@/components/filters/SelectFilter";
import AppTableLoader from "@/components/ui/AppTableLoader";

export default {
  name: "AppTable",

  components: {
    AppPagination,
    DateRange,
    SearchFilter,
    SelectFilter,
    AppTableLoader
  },

  props: {
    items: {
      type: Array,
      default: () => []
    },

    headers: {
      type: Array,
      default: () => []
    },

    totalPages: {
      type: Number,
      default: 0
    },

    loading: {
      type: Boolean,
      default: false
    },

    isClickableRow: {
      type: Boolean,
      default: false
    },

    isWatchItemsDeep: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      innerHeaders: JSON.parse(JSON.stringify(this.headers)),
      innerItems: JSON.parse(JSON.stringify(this.items)),
      currentPage: 1
    }
  },

  ASC: 'ASC',
  DESC: 'DESC',

  computed: {
    sortableFields() {
      return this.innerHeaders.filter((item) => {
        return 'sort' in item
      })
    },

    hasPagination() {
      return this.totalPages > 0
    },

    isNeedMargin() {
      return this.hasPagination
    },

    hasFilters(){
      const keys = Object.keys(this.$route.query)
      const filteredKeys = keys.filter((key) => {
        return key !== 'sort' && key !== 'pageSize' && key !== 'pageNumber'
      })

      return filteredKeys.length > 0
    }
  },

  watch: {
    headers(value) {
      this.innerHeaders = JSON.parse(JSON.stringify(value))
    },

    "$route.query"() {
      this.clearFilters()
      this.clearSort()
      this.fillPagination()
      this.fillSort()
      this.fillFilters()
    }
  },

  created() {
    this.$watch('items', () => {
      this.innerItems = JSON.parse(JSON.stringify(this.items))
    }, {
      deep: this.isWatchItemsDeep
    })
  },

  mounted() {
    this.clearFilters()
    this.clearSort()
    this.fillPagination()
    this.fillSort()
    this.fillFilters()
  },

  methods: {
    filter(value, field) {
      let query

      const isEmptyArray = Array.isArray(value) && value.length === 0

      if (!value || isEmptyArray) {
        query = {...this.$route.query};
        if (field in query) {
          delete query[field]
        }
      } else {
        query = {...this.$route.query, [field]: value};
      }

      query.pageNumber = 1

      this.$router.push({query})
    },

    sort(fieldName, oldSortDirection) {
      let sort;

      if (oldSortDirection === 'ASC') {
        sort = ''
      } else if (oldSortDirection === 'DESC') {
        sort = fieldName
      } else {
        sort = '-' + fieldName
      }

      const query = {...this.$route.query, sort}
      this.$router.push({query})
    },

    isActiveFilter(value) {
      if (Array.isArray(value)) {
        return value.length > 0
      } else {
        return !!value
      }
    },

    fillSort() {
      let direction, fieldName;
      const currentSort = this.$route.query.sort

      if ((currentSort === undefined) || (currentSort === null)) return

      if (currentSort.includes('-')) {
        direction = 'DESC'
        fieldName = currentSort.substring(1)
      } else if (currentSort.length) {
        direction = 'ASC'
        fieldName = currentSort
      } else {
        direction = '';
        fieldName = ''
      }

      this.sortableFields.forEach((item) => {
        item.sort = ''
      })

      const index = this.innerHeaders.findIndex((item) => {
        return item.field === fieldName
      })

      if (index !== -1) {
        this.$set(this.innerHeaders[index], 'sort', direction)
      }
    },

    fillFilters() {

      const keys = Object.keys(this.$route.query)
      const filteredKeys = keys.filter((key) => {
        return key !== 'sort' && key !== 'pageSize' && key !== 'pageNumber'
      })

      filteredKeys.forEach((key) => {
        const index = this.innerHeaders.findIndex((item) => {
          return item.field === key
        })

        this.innerHeaders[index].filter.value = this.$route.query[key]
      })
    },

    fillPagination() {
      this.currentPage = parseInt(this.$route.query.pageNumber, 10) || 1
    },

    clearFilters() {
      this.innerHeaders.forEach((item) => {
        if (item.filter) {
          item.filter.value = ''
        }
      })
    },

    clearSort() {
      this.innerHeaders.forEach((item) => {
        if (item.sort) {
          item.sort = ''
        }
      })
    },

    getSortDirectionIconClass(sort) {
      let className

      if (sort === this.$options.ASC) {
        className = '-up'
      }

      return className
    },

    isActiveSortIcon(sort) {
      return (sort === this.$options.ASC) || (sort === this.$options.DESC)
    }
  },
}
</script>

<style lang="scss" scoped>
.app-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  tr {
    &:hover {
      background-color: $gray-5 !important;
    }
  }

  tr.bg-info {
    &:hover {
      background-color: #B0D7FB !important;
    }
  }

  tr.-clickable {
    &:hover {
      cursor: pointer;
    }
  }

  th, td {
    padding: 14px $spacer*2;
    text-align: left;
  }

  td {
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 400;
    border-bottom: 1px solid $gray-4;
    min-height: 50px;
  }

  th {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
    color: $gray-2;
    background-color: $gray-8;
    user-select: none;

    &:hover {
      .sort-icon, .filter-icon {
        visibility: visible;
      }
    }
  }

  .th-wrap {
    display: flex;
    align-items: center;
  }

  .th-name {
    margin-right: $spacer*1.5;
  }

  .sort-icon {
    visibility: hidden;
    margin-right: $spacer*1.25;
    color: $gray-9;
    cursor: pointer;

    &-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.-up {
      transform: rotate(180deg);
    }

    &.-active {
      color: $gray;
      visibility: visible;
    }
  }

  .filter-icon {
    visibility: hidden;
    cursor: pointer;
  }

  .button-clear-filter {
    margin-top: $spacer*1.5;
  }

  .no-result-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 400;
  }

  &.-margin-bottom {
    margin-bottom: $spacer*5;
  }
}

.no-result-text {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.4rem;
  color: $gray;
}
</style>

