<template>
  <div class="matrix-progress-bar">
    <div class="progress-title">
      {{ acceptedAndRejectedPercent }} %
    </div>
    <div class="progress-bar">
      <div
        class="accepted-bar"
        :style="{width: acceptedBarPercent + '%'}"
      >
      </div>
      <div
        class="rejected-bar"
        :style="{width: acceptedBarPercent + rejectedBarPercent + '%'}"
      >
      </div>
    </div>
    <div class="progress-bottom">
      {{ acceptedAndRejected }} из {{ total }}
    </div>
  </div>
</template>

<script>
export default {
  name: "MatrixProgress",

  props: {
    accepted: {
      type: Number,
      required: true
    },

    rejected: {
      type: Number,
      required: true
    },

    total: {
      type: Number,
      required: true
    }
  },

  computed: {
    acceptedBarPercent() {
      return parseInt((this.accepted / this.total) * 100)
    },

    rejectedBarPercent() {
      return parseInt((this.rejected / this.total) * 100)
    },

    acceptedAndRejectedPercent() {
      return this.total !== 0 ? Math.round((this.acceptedAndRejected / this.total)*100) : 0
    },

    acceptedAndRejected() {
      return this.accepted + this.rejected
    }
  }
}
</script>

<style lang="scss" scoped>
.progress-bar {
  height: 6px;
  position: relative;
  background-color: $gray-8;
  border-radius: 3px;
  margin-bottom: $spacer/2;
}

.accepted-bar,
.rejected-bar {
  position: absolute;
  height: 100%;
  transition: width .5s;
  border-radius: 3px;
}

.accepted-bar {
  background-color: $green;
  z-index: 1;
}

.rejected-bar {
  background-color: $pink;
  z-index: 0;
}

.progress-title {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2rem;
  color: $gray;
}

.progress-bottom {
  font-size: 12px;
  line-height: 16px;
  color: $gray-7;
}

</style>
